
fastapi
uvicorn[standard]
python-dotenv
itsdangerous

# Google OAuth
google-auth
google-auth-oauthlib
google-auth-httplib2

# Gmail API
google-api-python-client

# Database
sqlalchemy
pymysql

# HTTP / Forms
python-multipart

# Groq
groq

